.map-tooltip {
    background-color: rgba(225, 225, 225, 0.75);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 0.25rem;
    padding: 1rem;
    p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .progress {
        background-color: #999;
    }
}
