.redistrict {
    padding: .5rem 0;

    ul {
        border-bottom: none;
        display: block;
        list-style: disc inside;
        overflow: initial;

        li {
            display: list-item;
            text-align: left;
        }
    }
}

.ReactTable .rt-th, .ReactTable .rt-td {
    text-overflow: inherit;
    white-space: pre-wrap;
}
